<div class="row">
		<form data-ng-submit="notes.noteSubmit()" name="noteForm" class="note-form">
			<div class="col-md-3">
				<div class="form-group">
					<label>Title</label>
					<input type="text" name="title" class="form-control" data-ng-model="notes.form.title" required />
				</div>

				<div class="form-group">
					<label>Subtitle</label>
					<input type="text" name="subtitle" class="form-control" data-ng-model="notes.form.subtitle" />
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg" data-ng-disabled="notes.form.title == null || notes.form.body == null || notes.disable">save</button>
				</div>
			</div>

			<div class="col-md-9">
				<div class="form-group note-form-body">
					<label>Body</label>
					<textarea type="text" name="body" class="form-control" data-ng-model="notes.form.body" required /> 
				</div>
			</div>
		</form>
	</div>
</div>
<div class="row" data-ng-repeat="note in notes.notes | orderBy:$index:true">
	<div class="col-md-12" >
		<div class="panel panel-default">
			<div class="panel-heading">{{note.title}}{{note.subtitle ? ' &#8212; '+note.subtitle : ''}}<span class="remove-note" data-ng-click="notes.removeNote(note.id)"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span></div>
			<div class="panel-body">
				<p>{{note.body}}</p>
			</div>
		</div>
	</div> 
</div>